<div class="container">
    <form>
        <div class="container">
            <div class="mt-3 centered">
                <div class="title">
                    Actualización de datos</div>
            </div>
            <div class="paragraph-width">
                <div class="paragraph">
                    <span class="line1">Queremos conocerte para darte muchos <span class="line1s"></span>beneficios.<span class="line2s"></span> Actualiza tus datos llenando el <span class="line1s"></span>siguiente formulario.</span>
                </div>
            </div>
            <form #actualizacion="ngForm">
                <div class="form-row mt-2">
                    <div class="col mt-2 col-xs-12">
                        <label class="sub-title">Primer Apellido</label><small class="required">*</small>
                        <input #apellido="ngModel" [(ngModel)]="datos.apellido" name="apellido" type="text" class="form-control" placeholder="Digita tu primer apellido" required>
                        <small *ngIf="!apellido.valid && submitted"><label class="required">Este campo es obligatorio</label></small>
                    </div>
                    <div class="col mt-2">
                        <label for="numeLinea" class="sub-title">Número de línea prepago</label><small class="required">*</small>
                        <input id="lineNumber" #numeLinea="ngModel" [(ngModel)]="datos.numeLinea" name="numeLinea" type="number" class="form-control col-xs-12" placeholder="Digita el número de tu línea prepago" onKeyPress="if(this.value.length==10) return false;" required>
                        <small *ngIf="!numeLinea.valid && submitted"><label class="required">Este campo es obligatorio</label></small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col mt-2">
                        <label for="numeLinea" class="sub-title">Tipo de documento</label><small class="required">*</small>
                        <select (click)="clickSelect()" #tipoDocum="ngModel" [(ngModel)]="datos.tipoDocum" class="select arrow form-control my-0 mr-sm-2" name="tipoDocum" id="selectDocument" required>
            <option selected value=''>Selecciona tu tipo de documento</option>
            <option *ngFor="let document of documenttypes" [value]="document.documenttypeId">{{document.description}}</option>
          </select>
                        <small *ngIf="!tipoDocum.valid && submitted"><label class="required">Este campo es obligatorio</label></small>
                    </div>
                    <div class="col mt-2">
                        <label for="numeLinea" class="sub-title">Número de documento</label><small class="required">*</small>
                        <input id="fieldNumDocum" #numDocum="ngModel" [(ngModel)]="datos.numDocum" name="numDocum" type="number" class="form-control" placeholder="Digita tu número de documento" required>
                        <small *ngIf="!numDocum.valid && submitted"><label class="required">Este campo es obligatorio</label></small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col mt-2">
                        <label for="numeLinea" class="sub-title">Fecha de expedición del documento</label><small class="required">*</small>
                        <input #fechaEx="ngModel" [(ngModel)]="datos.fechaEx" name="fechaEx" type="date" class="form-control" max="9999-12-31" required>
                        <small *ngIf="!fechaEx.valid && submitted"><label class="required">Este campo es obligatorio</label></small>
                    </div>
                    <div class="col mt-2"></div>
                </div>
                <div class="mt-2 ml-4 ">
                    <label class="label1" for="termino">Acepto <a href="javascript:void(0);"  (click)="obtenerTyC()"> términos y condiciones y política de <span class="line2">tratamiento de datos</span><span class="end-t-y-c"></span></a>
        <input #termino="ngModel" [(ngModel)]="datos.termino" class="form-check-input" type="checkbox" name="termino"  id="termino" required checked>
        <span class="checkmark"></span>
        </label>
                </div>
                <small *ngIf="!termino.valid && submitted "><label class="required">Es obligatorio aceptar términos y condiciones</label></small>
                <div class="form-row">
                    <div class="col-md-6 mt-2 ">
                        <button *ngIf="actualizacion.valid" (click)="enviarBtn()" type="submit" value="Enviar" id="boton" class="btn btn-block btn-danger">Enviar</button>
                        <button *ngIf="actualizacion.invalid" (click)="error()" class="btn btn-block btn-danger">Enviar</button>
                    </div>
                </div>

            </form>
        </div>
        <div class="modal fade z-index-1500 modalStyle" id="dialogo1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Términos y condiciones</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                    <div class="modal-body" id="modal-t-a-c">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <br/>
        <br/>
        <div id="div-spiner-load" role="status">
            <span class="sr-only centered-spinner">Loading...</span>
        </div>
        <br/>
        <br/>