<div class="container">

    <form>
        <h1 class="centro title mt-4">Actualización de datos</h1>
        <p class="centro ml-3 paragraph mt-2">
            <strong class="line1 fLeft">Queremos conocerte para darte muchos beneficios.
            <strong class="line2s"></strong> Actualiza tus datos personales:</strong>
        </p>
        <div class="container">
            <form #actualizacion="ngForm">
                <div class="form-row">
                    <div class="col-md-5">
                        <label class="sub-title" for="saludo"><strong>Saludo</strong><small
                            class="required">*</small></label>
                        <select (click)="clickSelect()" #greet="ngModel" [(ngModel)]="data.greet" name="greet" class="select arrow form-control" id="greetingSelect" required>
                        <option selected value=''>Selecciona tu saludo de preferencia</option>
                        <option *ngFor="let greeting of greetings" [value]="greeting.description">
                            {{greeting.description}}</option>
                    </select>
                        <small *ngIf="greet.invalid && submitted"><label class="required smallAlert">Este campo es
                            obligatorio</label></small>
                    </div>
                    <div class=" col-md-5">
                        <label for="tipo" class="sub-title"><strong>Tipo de documento</strong><small
                            class="required">*</small></label>
                        <select class="arrow form-control" id="typeSelect" [(ngModel)]="data.documentTypeSelect" [ngModelOptions]="{standalone: true}" [disabled]="true">
                        <option *ngFor="let documentType of documenttypes" [value]="documentType.externalId">
                            {{documentType.description}}</option>
                    </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-5">
                        <label for="nombres" class="sub-title"><strong>Nombres</strong><small
                            class="required">*</small></label>
                        <input #name="ngModel" [(ngModel)]="data.name" name="name" id="name" type="text" class="form-control" placeholder="Digita tu(s) nombre(s)" [disabled]="true">
                        <small *ngIf="name.invalid && submitted"><label class="required smallAlert">Este campo es
                            obligatorio</label></small>
                    </div>
                    <div class=" col-md-5">
                        <label for="num" class="sub-title"><strong>Número de documento</strong><small
                            class="required">*</small></label>
                        <input [disabled]="true" id="documentNumber" type="number" class="form-control" placeholder="Digita el número de tu documento" value="{{data.nit}}">
                    </div>
                </div>


                <div class="form-row">
                    <div class="col-md-5 ">
                        <label for="apellidos" class="sub-title"><strong>Apellidos</strong><small
                            class="required">*</small></label>
                        <input [disabled]="true" id="lastName" type="text" class="form-control" placeholder="Digita tus apellidos" value="{{data.lastName}}">
                    </div>


                    <div class="col">
                        <label class="sub-title"><strong>Teléfono</strong><small class="required">*</small></label>
                        <div class="form-row">

                            <div class="col-md-2">
                                <input #phonetype1="ngModel" [(ngModel)]="data.phonetype1" name="phonetype1" id="indicativePhoneNumber" type="number" class="form-control fLeft w50" placeholder="Indicativo" onKeyPress="if(this.value.length==1) return false;" required>
                            </div>
                            <div class="col-md-7">
                                <input #phonetype2="ngModel" [(ngModel)]="data.phonetype2" name="phonetype2" id="PhoneNumber" type="number" class="form-control fRigth w50 tel" placeholder="Número de teléfono" onKeyPress="if(this.value.length==10) return false;" required>
                            </div>
                        </div>
                        <small *ngIf="phonetype1.invalid && phonetype2.invalid && submitted"><label class="required smallAlert">
                            Estos campos son obligatorios</label></small>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-5 fRigth">
                        <label for="nacimiento" class="sub-title"><strong>Fecha de nacimiento</strong><small
                            class="required">*</small></label>
                        <input #birthDate="ngModel" [(ngModel)]="data.birthDate" name="birthDate" id="birthDate" type="date" max="9999-12-12" class="form-control" placeholder="DD/MM/AAAA" max="9999-12-31" required>
                        <small *ngIf="birthDate.invalid && submitted"><label class="required smallAlert">Este campo es
                            obligatorio</label></small>
                    </div>
                    <div class="col-md-5 fRigth">
                        <label for="email" class="sub-title"><strong>Correo Electrónico</strong><small
                            class="required">*</small></label>
                        <input #mail="ngModel" [(ngModel)]="data.mail" name="mail" id="email" type="text" class="form-control" placeholder="Digita tu correo electrónico" ngModel pattern="[a-zA-Z0-9_-]+([.][a-zA-Z0-9_-]+)*@[a-zA-Z0-9_-]+([.][a-zA-Z0-9_-]+)*[.][a-zA-Z]{1,5}" required>
                        <small *ngIf="mail.invalid && submitted"><label class="required smallAlert">Este campo es
                            obligatorio</label></small>
                        <small *ngIf="mail.invalid && mail.touched"><label class="line2 required smallAlert">Ingresa un email
                            válido</label></small>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-5"></div>
                </div>
                <h1 class="title mt-4 adress">Envio de correspondecia</h1>
                <div class="form-row">
                    <div class="col-md-5 col mt-2 fLeft">
                        <label for="departamento" class="sub-title"><strong>Departamento</strong><small
                            class="required">*</small></label>
                        <select (click)="clickSelect()" class="select arrow form-control" id="selectDepto" #depto="ngModel" [(ngModel)]="data.depto" name="depto" (change)="deptoChanged()" [ngModelOptions]="{standalone: true}" required>
                        <option selected value='0'> Selecciona Departamento</option>
                        <option *ngFor="let departamento of departamentos"
                        [value]="departamento.id">
                            {{departamento.text}}</option>
                    </select>

                        <!--<ng-select2
                    width=100%
                    id="selectDepto"
                    #depto="ngModel"
                    [(ngModel)]="data.depto"
                    name="depto"
                    (valueChanged)="deptoChanged($event)"
                    width=100%
                    placeholder='Selecciona tu departamento'
                        [data]="departamentos"
                        required>
                    </ng-select2>-->


                        <small *ngIf="data.depto==0 && submitted"><label class="required smallAlert">Este campo es
                            obligatorio</label></small>
                    </div>
                    <div class=" col-md-5 mt-2 fLeft">
                        <label for="ciudad" class="sub-title"><strong>Municipio</strong><small
                            class="required">*</small></label>
                        <select (click)="clickSelect()" class="select arrow form-control" id="selectCity" #city="ngModel" [(ngModel)]="data.city" name="city" (change)="changeCity()" [ngModelOptions]="{standalone: true}" required>
                            <option selected value='0'>Selecciona Ciudad</option>
                                <option *ngFor="let city of citys"
                                [value]="city.id">
                                    {{city.text}}</option>
                            </select>
                        <!--<ng-select2
                      id="selectCity"
                      #city="ngModel"
                      [(ngModel)]="data.city"
                      name="city"
                      (valueChanged)="changeCity($event)"
                      width=100%
                      placeholder='Selecciona tu municipio'
                      [data]="citys"
                      required>
                    </ng-select2>-->
                        <small *ngIf="data.city == 0 && submitted"><label class="required smallAlert">Este campo es
                            obligatorio</label></small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-5 mt-2 fLeft">
                        <label class="sub-title"><strong>Centro poblado</strong><small class="required">*</small></label>

                        <select (click)="clickSelect()" class="select arrow form-control" id="selectPopulated" #populated="ngModel" [(ngModel)]="data.poblado" name="populated" (change)="changePopulated()" [ngModelOptions]="{standalone: true}" required>
                            <option selected value='0'>Selecciona Poblado</option>

                                <option *ngFor="let populated of populateds"
                                [value]="populated.id">
                                    {{populated.text}}</option>
                            </select>

                        <!--<ng-select2
                    id="selectPopulated"
                    #populated="ngModel"
                    [(ngModel)]="data.poblado"
                    name="populated"
                    (valueChanged)="changePopulated($event)"
                    width=100%
                    placeholder='Selecciona'
                    [data]="populateds"
                    required>
                  </ng-select2>-->


                        <small *ngIf="data.poblado == 0 && submitted"><label class="required smallAlert">Este campo es
                            obligatorio</label></small>
                    </div>
                    <div class=" col-md-5 fLeft">
                        <div class="col-md-5 mt-2 "></div>
                        <label for="barrio" class="sub-title"><strong>Barrio</strong><small
                            class="required">*</small></label>
                        <input #barrio="ngModel" [(ngModel)]="data.neighborhood" name="barrio" id="neighborhood" type="text" class="form-control" placeholder="Digita el nombre de tu barrio" required (change)="builtAddress()" (focus)="builtAddress()" (focusout)="builtAddress()">
                        <small *ngIf="barrio.invalid && submitted"><label class="required smallAlert">Este campo es
                            obligatorio</label></small>
                    </div>
                </div>


                <div class="form-row mt-2">
                    <label class="sub-title adress"><strong class="ml">Via principal</strong><small
                        class="required">*</small></label>
                    <div class="col-md-3 fLeft">
                        <select (click)="clickSelect()" #main="ngModel" [(ngModel)]="data.main" name="adr" class="select arrow form-control" id="id-mainway" required (change)="builtAddress()" required>
                        <option selected value=''>Selecciona</option>
                        <option *ngFor="let address of Addresses" [value]="address.description">
                            {{address.description}}</option>
                    </select>
                        <small *ngIf="main.invalid && submitted"><label class="required smallAlert">Este campo es
                        obligatorio</label></small>
                    </div>


                    <div class="col-md-2 w50 fLeft ">
                        <input type="text" #wayNumber="ngModel" [(ngModel)]="data.wayNumber" name="wayNumber" class="form-control text-center" placeholder="#" id="wayNumber" (keypress)="builtAddress()" (change)="builtAddress()" (focus)="builtAddress()" (focusout)="builtAddress()"
                            required>
                        <small *ngIf="wayNumber.invalid && submitted"><label class="required smallAlert fLeft">Este campo es obligatorio</label></small>
                    </div>



                    <div class="btn col-md-1 fRigth">
                        <button type="button" class="btn btnBis rounded-pill " (click)="clickBis()" id="bisButton">⠀Bis⠀</button>
                        <small *ngIf="wayNumber.invalid && submitted"><label class="required smallAlert fLeft trans">‏‏‎‎Este
                            campo es obligatorio‎‎‏‏‎‎‏‏‎‎</label></small>
                    </div>


                    <div class="col-md-2 w50 fLeft">

                        <select (click)="clickSelect()" class="select arrow form-control" id="selectAlphabet" #alphabet="ngModel" [(ngModel)]="data.alphabet1" name="alphabet1" (change)="builtAddress()" [ngModelOptions]="{standalone: true}" required>
                            <option selected value=''>Selecciona</option>
                            <option *ngFor="let alphabet of alphabetArray"
                            [value]="alphabet.id">
                          {{alphabet.text}}</option>
                  </select>


                        <!--<ng-select2
                    id="selectAlphabet"
                    #alphabet="ngModel"
                    [(ngModel)]="data.alphabet1"
                    (valueChanged)="builtAddress()"
                    name="alphabet1"
                    width=100%
                    placeholder='Selecciona'
                    [data]="alphabetArray">
                      </ng-select2>-->


                    </div>
                    <div class="col-md-2 w50 fRigth">
                        <select (click)="clickSelect()" id="cardinal1" class="select arrow form-control" #main2="ngModel" [(ngModel)]="data.cardinal1" name="cardinal1" (change)="builtAddress()">
                        <option selected value="">Selecciona</option>
                        <option *ngFor="let item of cardinalArray" [value]="item">{{item}}</option>
                    </select>
                    </div>
                </div>


                <div class="form-row">
                    <label class="sub-title adress"><strong class="ml">Via generadora</strong><small
                        class="required">*</small></label>
                    <div class="col-md-2 w50 fLeft">
                        <input #viaGen="ngModel" [(ngModel)]="data.viaGen" name="viaGen" type="text" class="form-control" placeholder="Número" (keypress)="builtAddress()" (change)="builtAddress()" (focus)="builtAddress()" (focusout)="builtAddress()" required>
                        <small *ngIf="viaGen.invalid && submitted"><label class="required smallAlert fLeft">Este campo es obligatorio</label></small>
                    </div>




                    <div class="col-md-2 w50 fRigth ">

                        <select (click)="clickSelect()" class="select arrow form-control" id="selectAlphabet2" #alphabet2="ngModel" [(ngModel)]="data.alphabet2" name="alphabet2" (change)="builtAddress()" [ngModelOptions]="{standalone: true}" required>
                  <option selected value=''>Selecciona</option>
                      <option *ngFor="let alphabet of alphabetArray"
                      [value]="alphabet.id">
                          {{alphabet.text}}</option>
                  </select>


                        <!--<ng-select2 id="selectAlphabet2" #alphabet2="ngModel" [(ngModel)]="data.alphabet2"
                        (valueChanged)="builtAddress()" name="alphabet2" width=100% placeholder='Selecciona'
                        [data]="alphabetArray"></ng-select2>-->


                        <small *ngIf="viaGen.invalid && submitted"><label class="required smallAlert fLeft trans">Este campo es obligatorio</label></small>
                    </div>
                    <div class="col-md-2 w50 fLeft">
                        <input #plate="ngModel" [(ngModel)]="data.plate" name="plate" type="text" class="form-control" placeholder="Placa" (keypress)="builtAddress()" (change)="builtAddress()" (focus)="builtAddress()" (focusout)="builtAddress()" required>
                        <small *ngIf="plate.invalid && submitted"><label class="required smallAlert fLeft">Este campo es obligatorio</label></small>

                    </div>

                    <div class="col-md-2 w50 fRigth">
                        <select (click)="clickSelect()" class="select arrow form-control" #viaGenNumber1="ngModel" [(ngModel)]="data.cardinal2" name="cardinal2" id="cardinal2" (change)="builtAddress()">
                        <option selected value="">Selecciona</option>
                        <option *ngFor="let item of cardinalArray" [value]="item">{{item}}</option>
                    </select>
                    </div>

                </div>
                <div class="adress">
                    <label class="mt-2" class="sub-title"><strong>Direccion seleccionada</strong></label>
                    <input type="text" class="form-control" id="id-address-selected" [disabled]="true">
                </div>

                <div class="mt-2 ml-4">
                    <label class="label1" for="terminos">Acepto <a href="javascript:void(0);" (click)="obtenerTyC()">
                        términos y condiciones y política de tratamiento de datos</a>
                    <input #terms="ngModel" [(ngModel)]="data.terms" name="terms" class="form-check-input"
                        type="checkbox" id="terminos" checked required>
                    <span class="checkmark"></span>
                </label>
                </div>
                <small *ngIf="terms.invalid && submitted"><label class="required smallAlert">Es obligatorio aceptar términos y
                    condiciones</label></small>
                <div class="form-row">
                    <div class="col-md-5 mt-2">
                        <button *ngIf="actualizacion.valid" (click)="enviarBtn()" type="submit" value="Enviar" id="boton" class="btn1 btn btn-block btn-danger">
                        Enviar</button>
                        <button *ngIf="actualizacion.invalid" (click)="error()" type="button" id="boton" class="btn1 btn btn-block btn-danger">Enviar</button>
                    </div>
                </div>
            </form>



        </div>
        <div class="modal fade z-index-1500" style="width: 100%;" id="dialogo1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Terminos y condiciones</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
                    </div>
                    <div class="modal-body" id="modal-t-a-c"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div id="div-spiner-load" role="status">
            <span class="sr-only centered-spinner">Loading...</span>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>